body {
    font-family: 'Inter', sans-serif;
    color: rgb(32, 32, 32);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root {
    --index: calc(1vw + 1vh);
}

.container {
    margin: 0 10vw;
    height: 100%;
}

.header__inner {
    background-color: #ffd35b;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo a {
    font-size: 36px;
    font-weight: 700;
    color: rgb(32, 32, 32);
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin: 50px 0 25px;
}

.main__title {
    font-size: 36px;
    margin: 50px 0;
}

.main__welcome-text {
    font-size: 20px;
    margin-bottom: 50px;
}

.main__level-selection-inner {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: nowrap;
}

.level-container {
    display: flex;
    position: relative;
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 15);
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    transition: box-shadow .5s ease;
}

.level-container:hover {
    box-shadow: #ffd35b 0px 5px 25px;
}

.level-container img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: blur(6px) grayscale(100%);
    transition: filter .5s ease;
}

.level-container:hover img {
    filter: blur(0);
}

.level-container h3 {
    color: #fff;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.35);
    width: 80%;
    height: 50px;
    text-align: center;
    padding-top: 26px;
    border-radius: 10px;
    transition: all .5s ease;
}

.level-container:hover h3 {
    color: rgb(32, 32, 32);
    background-color: #ffd35b;
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-bottom: 50px;
}

.main__list-item a,
.main__list-item a:visited {
    font-size: 20px;
    color: rgb(32, 32, 32);
}

.main__list-item a:hover {
    border-bottom: 3px solid #ffd35b;
}

.footer {
    background-color: #ffd35b;
    height: 100px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.footer__text a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-weight: 700;
}

.main__test-answers-block {
    display: flex;
    gap: 50px;
}

.main__test-answers-block label {
    display: flex;
    width: 300px;
    padding: 15px 35px 15px;
    cursor: pointer;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    text-indent: -18px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main__test-answers-block label input[type=radio] {
    display: none;
}

.main__test-answers-block label:has(input[type=radio]:checked) {
    background-color: #ffd35b;
    font-weight: 700;
}

.submit-btn {
    display: block;
    margin: 50px auto;
    width: 300px;
    height: 50px;
    background-color: #ffd35b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: rgb(32, 32, 32);
    font-weight: 700;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ffc420;
}

.result-score {
    font-size: 30px;
}

.to-main-page-btn {
    display: block;
    margin: 50px 0;
    width: 400px;
    height: 50px;
    background-color: #ffd35b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: rgb(32, 32, 32);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
}

@media (max-width: 1200px) {
    .main__level-selection-inner {
        flex-direction: column;
    }
    .level-container {
        margin: 0 auto;
        width: calc(var(--index) * 22);
        height: calc(var(--index) * 20);
    }
}

@media (max-width: 1080px) {
    .level-container h3 {
        font-size: 16px;
        height: 40px;
    }
    .result-score {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .header__inner {
        height: 70px;
    }
    .main__title {
        font-size: 24px;
        margin: 30px 0;
    }
    .title {
        font-size: 18px;
        font-weight: 700;
        margin: 30px 0 20px;
    }
    .main__welcome-text {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .main__list-item a {
        font-size: 16px;
    }
    .main__list {
        margin-bottom: 30px;
    }
    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 12px;
    }
    .footer {
        height: 70px;
    }
    .to-main-page-btn {
        margin: 50px auto;
        width: 200px;
        height: 40px;
        font-size: 14px;
        padding-top: 15px;
    }
}